.form-container {
    border-radius: 10px;
    background-color: #0a0a0b2c;
    padding: 20px;
    width: 45%;
}

.form-title-container {
    margin-bottom: 10%;
}

.form-container h1 {
    text-align: center;
    text-transform: uppercase;
    color: #0dbdff;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #0a0a0b58;
    color: white;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #0a0a0b58;
    color: white;
}

input[type=submit] {
    position: relative;
    left: 25%;
    width: 50%;
    background-color: #0dbdff;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    position: relative;
    left: 25%;
    width: 50%;
    background-color: white;
    color: black;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}