.hero-container {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../../assets/BannerPrincipal.jpg"); /* The image used */
    background-color: black; /* Used if the image is unavailable */
    height: 90vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .9;
}

.left-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}

.top-text-content {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.left-hero-container h1 {
    font-size: 300%;
    margin: 0 5%;
    text-align: center;
    color: #fffc01;
}

.left-hero-container h2 {
    font-size: 250%;
    margin: 0 20%;
    text-align: center;
    color: white;
}

.left-hero-container p{
    margin: 0 5%;
    text-align: center;
    font-size: 300%;
    color: #fffc01;
    margin-bottom: 3%;
    font-weight: bold;
}

.right-hero-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 920px) {
    .hero-container {
        height: 110vh; /* You must set a specified height */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .left-hero-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: space-evenly;
        margin-left: 0;
        align-items: center;
    }
    
    .left-hero-container h1 {
        position: relative;
        padding-top: 20%;
        font-size: 2em;
        color: #0dbdff;
        text-align: center;
        margin: 0 0;
    }

    .left-hero-container h2 {
        font-size: 1.9em;
        margin: 0 0;
        text-align: center;
        color: white;
    }
    
    .left-hero-container p{
        font-size: 1.3em;
        color: white;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    
    .right-hero-container {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 380px) {
    .left-hero-container h1 {
        position: relative;
        padding-top: 0;
        font-size: 1.3em;
        color: #0dbdff;
        text-align: center;
        margin: 0 0;
    }
}

@media (max-width: 960px) and (orientation: landscape) {
    .hero-container {
        height: 170vh; /* You must set a specified height */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .left-hero-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
        justify-content: space-evenly;
        margin-left: 0;
        align-items: center;
    }
    
    .left-hero-container h1 {
        position: relative;
        padding-top: 0;
        font-size: 2em;
        color: #0dbdff;
        text-align: center;
        margin: 0 0;
    }

    .left-hero-container h2 {
        font-size: 1.9em;
        margin: 0 0;
        text-align: center;
        color: white;
    }
    
    .left-hero-container p{
        font-size: 1.3em;
        color: white;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    
    .right-hero-container {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}