.container {
    border-color: grey;
    border-style: solid;
    width: 300px;
    height: 100px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #266cef;
    border-radius: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container:hover {
    background-color: #266cef;
    border-color: white;
}

.container:hover h1 {
    color: #fffc01;
}

.container h1 {
    font-size: 100%;
    text-align: center;
}

.container:hover h2 {
    color: #fffc01;
}

.container h2 {
    font-size: 130%;
}

.container:hover p {
    color: white;
}

.container p {
    color: black;
}