.description-container {
    background-image: url("../../assets/DescriptionBanner.jpg"); /* The image used */
    background-color: red; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text2 {
    color: black !important;
}

.description-content p {
    font-size: 200%;
    color: #3140a2;
    margin: 0 5%;
}

