* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: AltoneRegular;
    src: url(./fonts/Altone-Regular.ttf);
}

@font-face {
    font-family: AltoneBold;
    src: url(./fonts/Altone-Bold.ttf);
}

h1{
    font-family: AltoneBold;
}

p{
    font-family: AltoneRegular;
}